/*body {
color: red;
font-family: Arial, sans-serif;
background-color: lightblue;

}
h1{
    color: blue;
background-color: lightgray;
    text-align: center;
    font-family: Arial;
}*/
/*
#parent{
    color:green;
    background-color:aliceblue;
    font: size 30px;
}
#child{
    color:yellow;
    background-color:black;
    font-size:20px;
}
#new{
    height:100px;
    width:250px;
    padding:20px;
    margin:30px;
    color:green;
    background-color:orangered;
    font-size:15px;
    font-family:"times new roman";
    text-decoration:underline black wavy;
}*/
/*
span{
    color:purple;
    background-color:blue;
    height:100px;
    width:200px;
    padding:20px;
    margin:30px;
}*/
/*
.hello{
    color:green;
    background-color:orangered;
    height: 100px;
    width:200px;
    font-size:20px;
    font-family:"times new roman";
    text-decoration:underline black wavy;
}/*
.hello{
    color:red;
    background-color:lightblue;
    height: 100px;
    width:200px;
    font-size:30px;
    font-family:"cursive";
    text-decoration:underline yellow underline;
}*/
/*
span{
    display:block;
    
    }
/*
h1{
    display:inline;
    

}*/
/*
 button:hover{
    background-color:blue;
    display:block;

}*/
/*
a {
    display: block;
    height: 50px;
    width: 150px;
    margin: 10px;
    padding: 15px;
    background-color: #3498db;
    color: white;
    text-align: center;
    line-height: 50px;
    visibility: hidden;
}*/
/*
a{
    display:none;
}
*/





